---
import Layout from '~/layouts/Layout.astro';
import categories from '~/data/categories';
import DirectoryCrumbs from '~/components/DirectoryCrumbs.astro';
---

<Layout title="AMQ Cafe">
	<main>
		<h2 class="pt-12 pb-8 text-5xl font-bold">AMQ Cafe</h2>
		<div class="text-lg max-w-prose">
			Welcome to the AMQ Cafe, where conversations thrive and ideas take shape. Join real-time
			discussions with curious minds from across the globe. Whether you're here to share or
			just listen, everyone's invited to engage. Grab a virtual coffee and join the
			conversation!
		</div>
		<section class="my-12 grid grid-cols-2">
			<div>Items</div>
			<div>Chat box</div>
		</section>

	</main>
</Layout>
