---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ameriquests">
	<main>
		<h2 class="pt-12 pb-8 text-5xl font-bold">About</h2>
		<div class="max-w-prose">
			<section>
				<h3 class="text-lg mt-8 mb-2 font-bold">Our Mission</h3>
				<p>
					AmeriQuests is an interdisciplinary journal that explores the concept of quests
					toward and within the Americas. Our mission is to provide a scholarly platform
					where writers, researchers, and thinkers engage with both real and metaphorical
					journeys, seeking a deeper understanding of the Americas as a space of
					discovery, migration, and transformation.
				</p>
			</section>

			<section>
				<h3 class="text-lg mt-8 mb-2 font-bold">What We Publish</h3>
				<p>
					AmeriQuests publishes work that investigates historical and contemporary quests,
					migration, identity, and cultural intersections across the Americas. We accept
					scholarly articles, essays, multimedia pieces, and creative works that reflect
					the complexity and diversity of quests toward and within this vast region. Our
					contributors include scholars from various disciplines, as well as artists,
					activists, and public intellectuals.
				</p>
			</section>

			<section>
				<h3 class="text-lg mt-8 mb-2 font-bold">Why AmeriQuests?</h3>
				<p>
					The name "AmeriQuests" is derived from the idea of a quest—a journey or search,
					often involving discovery, struggle, and personal or collective transformation.
					The Americas, with their history of migration, displacement, and cultural
					convergence, serve as a fitting metaphor for these quests. Whether it’s the
					literal quest of migration or the metaphorical journey of understanding one’s
					identity, our journal provides a space for these explorations.
				</p>
			</section>

			<section>
				<h3 class="text-lg mt-8 mb-2 font-bold">Our Community</h3>
				<p>
					AmeriQuests is supported by a diverse and international community of
					contributors and readers. We are committed to fostering dialogue across academic
					disciplines and between scholars and the public. Our community includes
					historians, sociologists, literary critics, political scientists, as well as
					creatives and activists who contribute to the ongoing conversation about the
					Americas.
				</p>
			</section>

			<section>
				<h3 class="text-lg mt-8 mb-2 font-bold">Get Involved</h3>
				<p>
					We invite scholars, writers, and readers to engage with AmeriQuests. Whether
					through submitting your research, reading our publications, or joining our
					conversations in the <a href="/cafe">AmeriQuests Café</a>, we believe that every
					voice has a place in the quest for knowledge about the Americas. Stay tuned for
					our calls for submissions, upcoming events, and community forums.
				</p>
			</section>
		</div>
	</main>
</Layout>
