---
interface Item {
	title: string;
	slug: string;
}
interface Props {
	items: Item[];
}

const { items } = Astro.props;
const slugItems = [{ title: 'Directory', slug: 'directory' }, ...items];
const buildSlug = (index: number) => {
	return slugItems.slice(0, index + 1).reduce((prev, curr) => {
		return `${prev}/${curr.slug}`;
	}, '');
};
---

<h2 class="pt-12 pb-8 font-mono text-3xl">
	{
		slugItems.map((item, index) => {
			return (
				<>
					<a href={buildSlug(index)}>{item.title}</a>
					{index + 1 < slugItems.length && '>'}
				</>
			);
		})
	}
</h2>
