@import '@fontsource/ibm-plex-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
	-webkit-text-stroke: 4px rgba(255,255,255,0.5);
	text-stroke: 4px rgba(255,255,255,0.5);
	paint-order: stroke fill;
}